/* 전체 컨테이너 스타일 */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* 상단 바 스타일 */
.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #d9534f;
  position: relative;
  height : 80px;
}

.header-bar.emergency{
  background-color: #ffcccc;
}

.header-bar.hospital{
  background-color:#98b8f8;
}

/* 로고와 텍스트를 담고 있는 컨테이너 */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-left: 10px;
}

.call-container {
  display: flex;
  align-items: right;
  padding-right: 10px;
}

/* 로고 이미지 스타일 */
.logo-image {
  width: 45px; /* 로고 크기 */
  height: 30px;
  margin-bottom: 5px; /* 로고와 텍스트 사이 간격 */
}

.header-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow:  2px;
}

.header-button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-button svg {
  margin-right: 4px;
}

/* 지도 영역 스타일 */
.map-container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #e0e0e0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-status {
  position: absolute;
  top: 2%;
  left: 5%;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}

/* 지도 핀 스타일 */
.map-pin {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #d9534f;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 하단 버튼들 스타일 */
.bottom-bar {
  position: absolute;
  bottom: 10px; /* 지도 하단에서 10px 위로 위치 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.hospital-button {
  outline: 0.5px solid grey;
  flex: 5;
  margin: 0 5px;
  padding: 13px 15px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff; 
}

.hospital-button.emergency{
  background-color: #ff9f9f;
}

.hospital-button.hospital{
  background-color: #5a91fe;
}

.category-button {
  white-space: nowrap;
  width: 5ch;
  outline: 0.5px solid grey;
  flex: 4;
  margin: 0 5px;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.category-button.selected {
  background-color: #6ff58e;
  font-weight: bold;
}

.category-button.emergency{
  background-color:  #ffcccc;
}

.category-button.hospital {
  background-color: #a4c1fc;
}

.Modal{
  font-weight: 500;
  padding : 0px 0px 2px 0px;
}

.ModalContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width : 100%;
  margin : 0 auto;
  padding : 20px;
}

.ContainerCell{
  padding: 10px;
  text-align: left;
}